@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-style: normal;
}
